

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-scrif;

}
/*error message styling*/
.error{
    font-size: 14px;
    display: none;
    text-align: center;
    color: red;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/360_F_597313609_Sy0CnVlYq1fMQg1sqwRzB4Iwc00wUIv6.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(10px);
    color: black;
    border-radius: 12px;
    padding: 30px 40px;
    transition: height .2s ease;
}


.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
   
    margin: 30px 0;
    
    

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 20px;
    color: black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    
}

.wrapper .register-link{
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}

.wrapper .btnreg{
    width: 100%;
    height: 45px;
    background: #fff;
   
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    
}
.wrapper1{
    width: 420px;
    height: 520px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(10px);
    color: black;
    border-radius: 12px;
    padding: 30px 40px;
    transition: height .2s ease;
}
.wrapper1 h1{
    font-size: 36px;
    text-align: center;
}
.wrapper1 .profilebtn{
    width: 100%;
    height: 45px;
    background-color: blanchedalmond;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600; 
   
    
}
.wrapper1 .profile-link{
    font-size: 16px;
    text-align:center;
    margin: 20px 0 15px;
    
    
}


.wrapper1 .insbtn{
    width: 100%;
    height: 45px;
    background-color: blanchedalmond;
   
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
   
    
}
.wrapper1 .Instruction-link{
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}
.wrapper1 .setbtn{
    width: 100%;
    height: 45px;
    background-color: blanchedalmond;
   
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    
}
.wrapper1.Setting-link{
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}
.wrapper1 .leabtn{
    width: 100%;
    height: 45px;
    background-color: blanchedalmond;
   
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    
}
.wrapper1 .LeaderBoardlink{
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}
.wrapper1 .playbtn{
    width: 100%;
    height: 45px;
    background-color: blanchedalmond;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    color: black;
    
}
.wrapper1 .Play-link{
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}
.wrapper1 .logoutbtn{
    width: 100%;
    height: 45px;
    background-color: blanchedalmond;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    
    
}
.wrapper1 .Logout-link{
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}
a{
    text-decoration:none;
    color: black;
    
    
   
}
.wrapperPro{
    width: 420px;
    height: 520px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(10px);
    color: black;
    border-radius: 12px;
    padding: 30px 40px;
    transition: height .2s ease;
    
    
}
.profile-pic-box{
    margin-bottom: 15px;
}
.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ffcc00;
}
.profile-info p{
    font-size: 18px;
    margin: 8px 0;
}
.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    
}
.wrapperPro h1{
    font-size: 36px;
    text-align: center;
}

.wrapperPro text1{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
}

.wrapperIns{
    width: 1000px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(10px);
    color: black;
    border-radius: 12px;
    padding: 30px 40px;
    transition: height .2s ease;
}
.wrapperIns h1{
    font-size: 36px;
    text-align: center;
} 
.wrapperIns p{
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#fff;
    text-align:justify;
    
}
.lboard-section ul{
      display: flex;
}
.lboard-section ul li{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.lboard-section ul li:hover,
.lboard-section ul li:active{
    color: black;
}
.game-container{
    width: 350;
    margin: 60px auto;
    padding:20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px #f8d742;
    text-align: center;
}
.infor-box{
    font-size: 18px;
    margin-bottom: 10px;
}
.quesion-img{
    width: 300px;
    height:auto;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid #ffd54f;
}
.answer-input{
    width: 80%;
    padding: 10px;
    border: 2px solid #ffca28;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}
.exbtn{
    width: 20%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 600;
}
     
.info{
    margin-bottom: 15px;
    background: #fff4b3;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: left;

}
.timer{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #d9534f;
}
.num-btn-container button{
    padding: 20px 15px;
    margin: 5px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;

}



